.smartcrop-wrapper {
    padding-top: 18px;
    padding-bottom: 44px;
}

.smartcrop-wrapper .video-title {
    padding-bottom: 6px;
}

.smartcrop-wrapper .video-title p {
    font: 24px/48px 'Roboto Medium';

}

@media screen and (max-width: 1023px) {
    .smartcrop-wrapper {
        padding: 19px 0;
    }

    .smartcrop-wrapper .video-title p {
        font-size: 20px;

    }
}